@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 35px;
}

.line {
    border-bottom: 1px solid #dee2e6;
  }

.logo{
    font-weight: 550;
    font-size: 1.3rem;
}

.main-content{
    background-color: #ffffff;
}

.main-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container{
    position: relative;
    max-width: 700px;
    width: 100%;
    padding: 25px;
    padding-top: 85px;
}

/* Office */

.office-body {
    overflow-y:hidden;
}

.office-content{
    background: url('/img/dawid-zawila--G3rw6Y02D0-unsplash.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.office-content::before{
    background-color: rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.office-content .container{
    height: 120vh;
    z-index: 1;
    position: relative;
}

.office-content h1{
    font-size: 1em;
    font-family: "Roboto Slab", sans-serif;
}

.office-content h2{
    font-size: 0.6em;
    font-family: "Roboto Slab", sans-serif;
}

/* ------------------------------------- */

/* Navbar */
.navbar{
    background-color: #fffffb;
    height: 50px;
    padding: 8px 20px;
}

.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #696969;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width:991px){
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #be2d18;
        visibility: hidden;
        transition: 0.09s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

@media(max-width: 991px){
    .sidebar{
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

/* ------------------------------------- */

/* Button */
.nwrc-btn-logout{
    background-color: #be2d18;
    color: #fff;
    font-size: 1rem;
    padding: 8px 20px;
}

.nwrc-btn-logout:hover{
    background-color: #7a1d0f;
}

.nwrc-btn{
    background-color: #be2d18;
    color: #fff;
    padding: 8px 20px;
}

.nwrc-btn:hover{
    background-color: #7a1d0f;
}

.nwrc-btn-txt{
    position: relative;
    background-color: #ffffff;
    border: none;
    outline: none;
    color: #696969;
}
.nwrc-btn-txt:hover, .nwrc-btn-txt.active{
    color: #000;
}

@media (min-width:991px){
    .nwrc-btn-txt::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        height: 2px;
        background-color: #be2d18;
        visibility: hidden;
        transition: 0.09s ease-in-out;
    }

    .nwrc-btn-txt:hover::before, .nwrc-btn-txt.active::before{
        width: 100%;
        visibility: visible;
    }
}

.btn-custom {
    background-color: white;
}

.file-icon {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

ul li {
    margin-bottom: 10px;
}

.file-entry {
    margin-bottom: 15px;
}

.btn-delete {
    margin-left: 10px;
}



